body {
  background-size : cover;
  width: 95vw;
  height: 97vh;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
}

h1 {
  font-size: 120px;
  margin: 5px;
}

h2 {
  font-size: 30px;
  font-weight: normal;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
}

.hidden {
  display: none;
}

#wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#quote {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0%);
}

#weather {
  position: absolute;
  top: 10px;
  right: 10px;
}

#login-form input {
  width: 300px;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom : 3px solid white;
  background-color: transparent;
  font-size: 30px;
  color: white;
  &::placeholder {
    color: white;
    opacity: 0.5;
  }
}

#todo-form input {
  width: 250px;
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom : 2px solid white;
  background-color: transparent;
  font-size: 20px;
  color: white;
  &::placeholder {
    color: white;
  }
}

